.about{
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    //height: calc(100vh - 80px);
    min-height: 820px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    
    h2{
        margin-top: 30px;
        margin-left: 250px;
        font-weight: normal;
        word-spacing: 1rem;
        letter-spacing: 1px;
        font-weight: bold;
    }
    
    .my-info{
        margin-top: 15px;
    }

    p{
        padding-left: 252px;
        line-height: 45px;
        font-size: 16px;
        color: #787C80;
    }
    
    ol{
        margin: 15px 110px 0 268px;
        font-size: 16px;
        color: #787C80;
        list-style-type: square;
        li{
            line-height: 36px;
            letter-spacing: 1px;
        }
        span,
        a{
            display: inline-block;
            margin-right: 10px;
            line-height: 36px;
            cursor: pointer;
        }
        .hide{
            display: none;
        }
    }
    .footer{
        display: block;
        margin-top: 50px;
        width: 100%;
        font-size: 16px;
        background-color: #fff;
        line-height: 60px;
        height: 60px;
        text-align: center;
    }

}

