.coming-soon{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    font-size: 28px;
    color: #5AC88B;
    img{
        display: block;
        margin: 10% auto 45px;
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
}
