.error-border{
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 820px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;

    .counter{
        text-align: center;
        span{
            display: inline-block;
            margin-right: 10px;
            padding: 0 10px;
            height: 80px;
            line-height: 80px;
            vertical-align: top;
            line-height: 80px;
        }
    }
    h1{
        text-align: center;
        height: 80px;
        line-height: 80px;
        font-size: 18px;
    }
}

