.experiment{
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    height: calc(100vh - 100px);
    min-height: 820px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    h2{
        margin-top: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 18px;
        text-align: center;
    }
    .parent-listener{
        margin-top: 30px;
        height: 45px;
        text-align: center;
    }
    .child-listener{
        display: inline-block;
        width: 200px;
        height: 45px;
        line-height: 45px;
        font-size: 18px;
        border-radius: 3px;
        cursor: pointer;
        &:hover{
            background: #f5f5f5;
        }
    }
}
