.portal{
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 820px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    p{
        margin-top: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 18px;
        text-align: center;
    }
}

#alert-root {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 200px;
  width: 240px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  button{
      display: block;
      width: 100px;
      height: 35px;
      line-height: 35px;
      background: white;
      font-size: 18px;
      border-radius: 3px;
      cursor: pointer;
  }
}


