.header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
	padding-right: 20px;
    width: 1200px;
    height: 60px;
    background-color: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: 5px solid #f5f5f5;
    z-index: 10;
    .logo{
        display: inline-block;
        margin: 10px 0 10px 20px;
        width: 40px;
        height: 40px;
        border-radius: 75px;
    }
    .brand{
        display: inline-block;
        margin-left: 10px;
        vertical-align: top;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        color: #444;
    }
    .nav-bar,
    .logout{
        float: right;
        line-height: 60px;
        text-align: center;
        cursor: pointer;
    }
    .logout{
        height: 60px;
        font-size: 16px;
        width: 100px;
        color: #787C80;
    }
    .nav-bar{
        position: relative;
		width: auto;
        height: 60px;
        z-index: 10;
	}
    .nav-list{
		display: inline-block;
		height: 60px;
        color: #787C80;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
		vertical-align: top;
		overflow: hidden;
        ul{
            display: none;
            position: absolute;
            width: 100px;
            background: #fff;
    		border-bottom-right-radius: 3px;
    		border-bottom-left-radius: 3px;
            box-shadow: 0 0 0 1px hsla(0,0%,100%,.65) inset, 0 0.3em 1em rgba(0, 0, 0, 0.3);
        }
		.nav{
			margin: 0 10px;
        	line-height: 60px;
        	height: 60px;
        	width: 80px;
        	font-size: 15px;
        	text-align: center;
        	cursor: pointer;
		}
		.icurrent,
		.nav:hover{
			border-bottom: 2px solid #5AC88B;
		}
		a{
			display: block;
        	color: #787C80;
		}
		a,
        li{
            height: 45px;
            line-height: 45px;
            font-size: 14px;
            cursor: pointer;
        }
        li:hover{
            background-color: #dcdcdc;
        }
		.current{
            background-color: #dcdcdc;
		}

    }
    .nav-list:hover{
        //background-color: #f5f5f5;
    }
	.show{
		display: block !important;
	}
}
